* {
    max-width: 100%;
}

@media only screen and (max-width: 576px)  {
    #navebar {
        display: block;
    }
}

body {
    background-color: #FFF3B0;
}

header {
    background-image: url(imgs/Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------ Fontes --------------*/
h1, h2, h3 {
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
}

p, h4, h5, a {
    font-family: "Chivo", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-ggg {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 5px;
}
.font-gg {
    font-size: 3.8rem;
    font-weight: 500;
}

.font-gi {
    font-size: 3.5rem;
    font-weight: 400;
    font-style: italic;
}

.font-g {
    font-size: 1.8rem;
    font-weight: 400;
}

.font-m {
    font-size: 1.2rem;
}

/*----------- Fundos -----------------*/

.navbar {
    background-color: #FFF3B0;
}

#azul, #acao {
    background-color: #335C67;
}

#amarelo, #acao2 {
    background-color: #e09f3e;
}


#vermelho, #acao3 {
    background-color: #9e2a2b;
}

#cores {
    background-image: url(imgs/Fundofitas.png);
    background-size: cover;
    border-radius: 20px;
}

#contato {
    background-image: url(imgs/Fundofitas2.png);
    background-size: cover;
}

.fundobege {
    background-color: #FFF3B0;
}

/*---------------- Cards -------------------*/

.card {
    transform-style: preserve-3d;
    transition: 1s;
    position: relative;
    border-radius: 20px;
    aspect-ratio: 3 / 4;
    cursor: pointer;
}

.card hr {
    border: 4px solid #FFF3B0;
    width: 90%;
    border-radius: 5px;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.back {
    transform: rotateY(180deg);
    color: #fffef8;
}

.front {
    color: #fffef8;
}

@media (max-width:  1280px) {
    .card {
        aspect-ratio: 3 / 5; 
        font-size: 0.9rem;
    }
}


@media (max-width:  1100px) {
    .card {
        aspect-ratio: 3 / 6; 
        font-size: 0.8rem;
    }
}

@media (max-width:  992px) {
    .card {
        aspect-ratio: 3 / 3; 
        font-size: 1.1rem;
    }
}

@media (max-width:  600px) {
    .card {
        aspect-ratio: 3 / 6; 
        font-size: 1rem;
    }
}

@media (max-width:  410px) {
    .card {
        aspect-ratio: 2 / 5; 
        font-size: 1rem;
    }
}

@media (max-width:  350px) {
    .card {
        font-size: 1rem;
    } 
}

/*---------- Significado das cores ---------*/

.bege {
    background-color: #fff3b0e0;
}

.bordaz {
    border: 5px solid #335C67;
}

.bordame {
    border: 5px solid #e09f3e;
}

.bordaver {
    border: 5px solid #9e2a2b;
}

.bordaz h3 {
    color: #335C67;
}

.bordame h3 {
    color: #e09f3e ;
}

.bordaver  h3 {
    color: #9e2a2b;
}

.bordaz hr {
    border: 2px solid #335C67;
    border-radius: 5px;
}

.bordame hr {
    border: 2px solid #e09f3e;
    border-radius: 5px;
}

.bordaver  hr {
    border: 2px solid #9e2a2b;
    border-radius: 5px;
}

/*------------ Ação dos Meses complementares -----------------*/

.borda1, hr {
  border: 5px solid #4BA145;
  border-radius: 5px;
}

.borda2, hr {
  border: 5px solid transparent ;
  border-image: linear-gradient(to bottom, #D04ED4, #728ED6, #46D9B6);
  border-image-slice: 1;
}

.borda2 hr {
  border: 5px solid #D04ED4;
}

.borda3, hr {
  border: 5px solid #59BA47;
  border-radius: 5px;
}

#gradiente1 {
  background-image: linear-gradient(#335C67, #FFF3B0);
}

#gradiente2 {
  background-image: linear-gradient(#e09f3e, #FFF3B0);
}

#gradiente3 {
  background-image: linear-gradient(#9e2a2b, #FFF3B0);
}

/*------------ Equipe --------------*/

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

#equipe {
  padding: 4rem 0;
  background-image: url(imgs/Fundoequipe.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width:1440px) {
  #equipe {
    padding: 7rem 0;
  }
}

#equipe .tranding-slider {
  height: 42rem;
  padding: 2rem 0;
  position: relative;
}

.tranding-slide {
  width: 37rem;
  height: 37rem;
  position: relative; 
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

@media (max-width:500px) {
  #equipe .tranding-slider {
    height: 38rem;
  }
  .tranding-slide {
    width: 35rem !important;
    height: 35rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 25rem !important;
    height: 25rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-slide img {
    display: flex;
    justify-self: center;
}

.tranding-slider-control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content:'';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: black;
}

/*---------------- Contato ---------------------*/

#fundocont {
  background-color: #fff3b0b0;
  backdrop-filter: blur(15px) brightness(95%) drop-shadow(4px 4px 10px #fff3b0);
}

form input[type=text], input[type=email] {
  border-radius: 15px;
  background-color: #fff5dbc8;
  backdrop-filter: brightness(105%);
}

.form-select {
  border-radius: 10px;
  background-color: #fff5dbc8;
  backdrop-filter: brightness(105%);
}

#coment textarea {
  border-radius: 10px;
  background-color: #fff5dbc8;
  backdrop-filter: brightness(105%);
}

#contatolg {
  background-image: url(imgs/fundocontato.png);
  background-repeat: no-repeat;
  background-position: center;
}